@import '../../varribles';
.productCard{
    .product_img-container{
        // max-height: 420px;
        overflow: hidden;
        .actions_container{
            position: absolute;   
            background-color: rgba($color: #000000, $alpha: 0.25); 
            transition: opacity 0.5s;
            opacity: 0;
        }
        }
        .product_img-container:hover{
            .actions_container{ 
                opacity: 1;
            }
        }
        .dark-text{
            color: $darkColor;
        }
     
}
